*{
	padding: 0;
	margin:0;
}
html{
	width: 100%;
	height: 100%;
	font: normal 100% Helvetica, Arial, sans-serif;
	background-color: #ccf0ff;

	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
a{
	text-decoration: none;
	color: #000;
}
.left{
	float: left;
}
.right{
	float: right;
}
.hide{
	display: none;
}

/* 这里是主页头部 */
.bg{
	position: relative;
	width: 100%;
}
.bg>img{
	width: 100%;
	height: 9rem;
}
.id_head_img{
	position: absolute;
	left: 2rem;
	bottom: 2rem;
}
.id_head_img img{
	width: 4rem;
}
/* 这里是导航栏 */
.id_tab_menu,.index_tab_menu{
 margin: 1rem 0;
}
.id_tab_menu ul li,.index_tab_menu ul li{
	float: left;
	list-style: none;
	text-align: center;
}
.index_tab_ul li{
	width: 33.3%;
}
.id_tab_menu ul,.index_tab_menu ul{
	overflow: hidden;
}
.index_selected{
	color: #ffce63;
	border-bottom: 2px solid #ffce63;
}
/* 这里是主页主要内容 */
.index_tab_box,.detail_wish{
	padding: 0 .8rem;
}
section{
	margin-bottom: 1rem;
	display: flex;
}
.user_img{
	flex: 2;
}
.user_img img{
	width: 100%;
}
.wish_content{
	flex: 8; 
	padding: 10px;
	margin-left: .5rem;
	border-radius: 8px;
	background-color: #ffeccf;
}

.type img{
	width: 2rem;
}
.wish_content p{
	padding-top: .4rem;
}
.comment{
	padding-top: 10px;
	font-size: .9rem;
}
.comment img{
	width: 1rem;
}
.message{
	width: 100%;
	/* overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	white-space: normal; */
}
.interaction{
	padding: .9rem 1rem 0 6rem;
}
.interaction img{
	width: 1.2rem;
}
.love,.com{
 flex: 1;
}
.num{
	padding-left: .9rem;
}
/* 这是主页底部栏 */
.foot{
	position: fixed;
	width: 100%;
	height: 4rem;
	bottom: 0;
	display: flex;
	background-color: #ffd77f;
}
.foot_wish,.foot_shake{
	flex: 1;
	font-size: .8rem;
	text-align: center;
}
.foot_wish img{
	margin-top: .5rem;
	width: 1.4rem;
}
.foot_shake img{
	margin-top: .5rem;
	width: 2.2rem;
}



/* 单个愿望详情页 */
.detail{
	padding-top: .5rem;
}
.det_wish_con{
	flex: 8; 
	padding: 0 1rem;
}
.det_wish_con p{
	padding-top: .8rem;
}
.del{
	width: 1.5rem;
}
.detail_interaction{
	padding: 1rem 3.5rem 0 1rem;
}
.detail_interaction img{
	width: 1.7rem;
}
.bgc{
	padding: 1rem;
	background-color: #ccf0ff;
}
.detail_com{
	margin-top: 1.3rem;
}
.detail_comment section{
	margin-bottom: .3rem;
}
.detail_comment .user_img img{
	width: 80%;
	float: right;
}
.det_com_num,.det_love_num{
	font-size: 1.5rem;
}