*{
	padding: 0;
	margin:0;
}
html{
	width: 100%;
	height: 100%;
	font: normal 100% Helvetica, Arial, sans-serif;
	background-color: #ccf0ff;

	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
a{
	text-decoration: none;
	color: #000;
}
.left{
	float: left;
}
.right{
	float: right;
}
.hide{
	display: none;
}

/* 这里是主页头部 */
.bg{
	position: relative;
	width: 100%;
}
.bg>a>img{
	width: 100%;
	height: 9rem;
}
.id_head_img{
	position: absolute;
	left: 2rem;
	bottom: 2rem;
}
.id_head_img img{
	width: 4rem;
}
/* 这里是导航栏 */
.id_tab_menu,.index_tab_menu{
 margin: 1rem 0;
}
.id_tab_menu ul li,.index_tab_menu ul li{
	float: left;
	list-style: none;
	text-align: center;
}
.index_tab_ul li{
	width: 33.3%;
}
.id_tab_menu ul,.index_tab_menu ul{
	overflow: hidden;
}
.index_selected{
	color: #ffce63;
	border-bottom: 2px solid #ffce63;
}
/* 这里是主页主要内容 */
.index_tab_box,.detail_wish{
	padding: 0 .8rem;
}
section{
	margin-bottom: 1rem;
	display: flex;
}
.user_img{
	flex: 2;
}
.user_img img{
	width: 100%;
}
.wish_content{
	flex: 8; 
	padding: 10px;
	margin-left: .5rem;
	border-radius: 8px;
	background-color: #ffeccf;
}

.type img{
	width: 2rem;
}
.wish_content p{
	padding-top: .4rem;
}
.comment{
	padding-top: 10px;
	font-size: .9rem;
}
.comment img{
	width: 1rem;
}
.message{
	width: 100%;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	white-space: normal;
}
.interaction{
	padding: .9rem 1rem 0 6rem;
}
.interaction img{
	width: 1.2rem;
}
.love,.com{
 flex: 1;
}
.num{
	padding-left: .9rem;
}
/* 这是主页底部栏 */
.foot{
	position: fixed;
	width: 100%;
	height: 4rem;
	bottom: 0;
	display: flex;
	background-color: #ffd77f;
}
.foot_wish,.foot_shake{
	flex: 1;
	font-size: .8rem;
	text-align: center;
}
.foot_wish img{
	margin-top: .5rem;
	width: 1.4rem;
}
.foot_shake img{
	margin-top: .5rem;
	width: 2.2rem;
}



/* 单个愿望详情页 */
.detail{
	padding-top: .5rem;
}
.det_wish_con{
	flex: 8; 
	padding: 0 1rem;
}
.det_wish_con p{
	padding-top: .8rem;
}
.del{
	width: 1.5rem;
}
.detail_interaction{
	padding: 1rem 3.5rem 0 1rem;
}
.detail_interaction img{
	width: 1.7rem;
}
.bgc{
	padding: 1rem;
	background-color: #ccf0ff;
}
.detail_com{
	margin-top: 1.3rem;
}
.detail_comment section{
	margin-bottom: .3rem;
}
.detail_comment .user_img img{
	width: 80%;
	float: right;
}
.det_com_num,.det_love_num{
	font-size: 1.5rem;
}

/* 详情页评论 */
.inp{
	position: fixed;
	width: 100%;
	bottom: 0;
/* 	padding: 0 .8rem; */
}

.hideformbox,.hideuserbox{
	position: absolute;
	width: 100%;
	background-color: #ffce63;
}
.hideformbox{
	display: none;
	height: 3rem;
	bottom: 3.5rem;
}
.hideuserbox{
	display: flex;
	height: 3.5rem;
	bottom: 0;
}
.hideuser,.inputMessage,.submitMessage{
	padding: 1rem 0;
}
.hideuser{
	flex: 1;
	text-align: center;
	font-size: 1.3rem;
}
.hidename{
	color: #f00; 
	text-shadow: 1px 1px 0px #212121;
}
.inputMessage{
	flex: 6;
}
.inputMessage input,.hideuserform input{
	width: 100%;
	height: 1.5rem;
	border-radius: .8rem;
	outline: none;
	border: 0;
}
.hideuserform input{
	width: 40%;
	margin: 1rem 0 0 1rem;
}
.submitMessage{
	flex: 2;
}
.inp button{
	background-color: transparent;
	width: 1rem;
	height: 1rem;
	border: 0;
	outline: none;
}
.submitMessage img{
	width: 2rem;
}



/* 是否删除确认框 */
.delif{
	width: 100%;
	height: 100%;
	/* background-color:#000000;
	opacity:.8;
	filter:alpha(opacity=60); */

	position:fixed;
	top:0;
	left:0;
	z-index:99;
	display:none;
}
.delBox{
	width: 14rem;
	height: 6rem;
	/* display: none; */
	background-color: #ffffff;
	position: absolute;
	top:50%;
	margin-top: -3rem;
	left: 50%;
	margin-left: -7rem;
	z-index: 999;
}
.disblock{
	display: block;
}
.deltit{
	padding-top: 1rem;
	text-align: center;
}
.yon{
	display: flex;
	padding-top: 1rem;
	text-align: center;
}
.yon span{
	flex: 1;
}



/* 个人界面 */
.idpage{
	font-size: 50px;
}
.head_bg img{
	width: 100%;
}
.id_head{
	position: relative;
	top: -5rem;
	height: 25rem;
}
.headshot{  
	text-align: center;	     
}
.headshot img{
	width: 27.8%;  /* 150px/540px */
	overflow: hidden;
	border-radius: 50%;
}
.id_name,.id_detail{
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
}
.id_name{
	font-weight: bolder;
}
.id_detail{
	margin-top: 5rem;
}
.wish_number{
	margin-right: 5rem;
}
/* 用户界面心愿、评论切换 */
.hide{
	display: none;
}
.id_content{
	position: relative;
	margin-bottom: 10rem;
}
.id_selected{
	color: #efc68e;
	border-bottom: 5px solid #efc68e;
}
.id_tab_menu ul li,.index_tab_menu ul li{
	float: left;
	/* font-size: 4rem;
	line-height: 8rem; */
	list-style: none;
	text-align: center;
}
.id_tab_ul li{
	width: 50%;
}
.index_tab_ul li{
	width: 33.3%;
}
.id_tab_menu ul,.index_tab_menu ul{
	overflow: hidden;
}

.id_wish_detail,.id_comment_detail{
	margin: 2rem 3rem;
}
.line{
/* 	margin: 1rem 0;
 */	width: 100%;
	height: .1rem;
	background-color: #000;
}
.id_wish_feature div,.id_comment_feature div{
	display: inline-block;
	margin-top: 1.5rem;
	text-align: center;
}
.id_wish_feature div{
	width: 45%;
}
.wtime{
	float: right;
	text-align: center;
	padding-right: 1rem;
}
.id_comment_feature div{
	width: 40%;
}
.id_more{
/* 	margin-top: 1rem;
 */	text-align: right;
}





/* 许愿界面 */
.target{
	width: 100%;
	height: 10rem;
	background-color: #fff;
}
.targetto{
	display: flex;
}
.targett{
	flex: 1;
}
.targetip{
	flex: 4;
}
.targetto input{
	border: none;
	width: 100%;
	height: 4rem;
}
.hidewishuser{
	padding: 0 3rem;
}
.wishcont{
	width: 100%;
	margin-top: 6rem;
}
.wishcont textarea{
	width: 100%;
	height: 20rem;
}
.hottopic{
	width: 100%;
	height: 2rem;
}
.wishtype{
	margin-top: 6rem;
}
.wishtype div{
	width: 100%;
	text-align: center;
}
.wishsubmit{
	margin: 0 auto;
	width: 15rem;
	font-size: 5rem;
}
.choosedhide,.canceledhide{
	position: fixed;
	display: none;
	top: 3rem;
	margin: 0 auto;
	width: 26rem;
	height: 5rem;
	background-color: gray;
}

/* 许愿界面 */
/* label.to{
	display: inline-block;
	margin-top: 10%;
	padding-left: 7%;
}
label.from{
	display: inline-block;
	padding-left: 8%;
	margin-top: 10%;
	margin-bottom: 10%;
}
#to,#from{
	display: inline-block;
	width: auto;
	border: none;
	margin-top: 30px;

} 
	textarea{
	display: block;
	width: 80%;
	height: 120px;
	border: none;
	line-height: 25px;
	margin-left: 10%;
	background: url(../img/text_bg.png) repeat-x;
	background-size: auto 120px;
	resize: none;
	
} 
input[type='radio'].radio {
	opacity:0;
	display:inline-block; 
	height:20px;
	width: auto; 
}
#sayhi_label{
	display: inline-block;
	height: 20px;
	width: 50%;
	margin-left: 25%;
	padding-left:50px;
	margin-bottom: 20px;
	margin-top: 30px;
	background:url(../img/表白愿望图标.png) no-repeat;
	background-position:10px 0px;
	background-size: 20px; 
}
#complain_label{
	display: inline-block;
	height: 20px;
	width: 50%;
	margin-left: 25%;
	padding-left:50px;
	margin-bottom: 20px;
	
	background:url(../img/吐槽愿望图标.png) no-repeat;
	background-position:10px 0px;
	background-size: 20px; 
}
#default_label{
	display: inline-block;
	height: 20px;
	width: 50%;
	margin-left: 25%;
	padding-left:50px;
	margin-bottom: 30px;
	background:url(../img/其他愿望图标.png) no-repeat;
	background-position:10px 0px;
	background-size: 20px; 
}
#sendMess{
	width: 100%;
	height: auto;
	text-align: center;
}
#sendMess>input{
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	border: none;
	border-radius: 5px;
	background-color: rgba(68,131,95,0.7);
	color: white;
	font-size: larger;
} 